<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.4">
  <title>Hoops/2</title>
  <link rel="stylesheet" href="static/css/styles.css" />
  <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
</head>

<body>
  <header>{{ template "nav.html" . }}</header>
  <hr class="hr1" />
  <hr class="hr2" />
  <!-- Main content section where the linked page will be loaded -->
  <main>
    <div class="iframe-container">
      <iframe class="content" name="content" src="/2024/index.html"></iframe>
    </div>
  </main>
  <footer></footer>
</body>

</html>
